<aside class="left-sidebar">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">

        <li>
          <a id="widget-create" href="/widget/">
            <i class="material-icons">
              widgets
            </i>
            <span>
              {{ lang.menu.widgets }}
            </span>
          </a>
        </li>

        <li>
          <a href="/widget/config">
            <i class="material-icons">
              build
            </i>
            <span>
              {{ lang.menu.config }}
            </span>
          </a>
        </li>

      </ul>
      <nav>

  </div>
</aside>