@import "_color";

.container-fluid.d-flex {

  .widget {
    border: 1px solid #ccc;
    min-width: 350px;

    .heading {
      padding-left: 1rem;
      background-color: $navelock-blue;
      color: $white;
      font: 1.5em/2em "Roboto";
      align-items: center;

      i {
        padding-right: .5rem;
      }

      a {
        color: $white;
      }
    }

    .description {

      .icon {
        margin-left: .5rem;

        i {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.widget-desc {
  margin-left: 1.5rem;
  margin-bottom: 1rem;

  i {
    margin-right: .5rem;
  }
}



//**************************
//* Корзина - Удаление
//**************************
#basket {
  width: 50px;
  height: 50px;
  background-image: url(../images/007-trash-2.svg);
  background-size: cover;
}

.basket {
  transition: all 1s linear;
  position: absolute;
  left: -230px;
  bottom: 20px;
  z-index: 1000;
}

.basket-delete {
  left: 300px !important;
}

.hide {
  display: none;
}