<!doctype html>
<html>
<meta charset="UTF-8">
<title>{{ title }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description">
<meta property="og:title">
<meta name="keywords" content="">
<meta name="robots" content="noindex,nofollow" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/public/css/login.css">


<body>
	{# авторизация #}
	<div class="login-page">
		<div class="profile-card">
			<header>
				<h1>Авторизация</h1>
			</header>
			<form id="login" class="profile-bio">
				<div class="panel">
					<div class="col-lg-12 panel-body">
						<div class="form-group">
							<label for="" class="control-label">{{ lang.login}}: </label>
							<input type="text" name="username" id="input-login" class="form-control" autofocus="autofocus" required>
						</div>
						<div class="form-group">
							<label for="" class="control-label">{{ lang.password }}: </label>
							<input type="password" name="password" id="input-password" class="form-control" required>
						</div>
					</div>
					<input type="hidden" name="token" value="{{ csrf }}" />
				</div>
				<div class="submit-holder">
					<div></div>
					<button class="btn btn-success" type="button" value="true">Отправить</button>
				</div>
			</form>


		</div>
		{# [конец] #}
	</div>
	  <script rel="preload" src="/public/js/runtime.js" as="script"></script>
  <script rel="preload" src="/public/js/vendors.bundle.js"></script>
  <script src="/public/js/style.bundle.js"></script>
	<script src="/public/js/login.bundle.js"></script>
	<script>
		const config = {{ config | dump }};
		const lang = {{ lang | dump }};
	</script>
</body>

</html>
