{
  "presets": [
    [
      "@babel/preset-env",
      {
        "shippedProposals": true
      },
      {
        "debug": false,
        "targets": {
          "browsers": [
            // "last 2 versions",
            "last 2 major versions"
            // "safari >= 7"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-class-properties"
    // "@babel/plugin-syntax-dynamic-import"
  ]
}