.main-wrapper #content .info-panel {
  margin-bottom: 2rem;
  margin-left: 2rem; }

.main-wrapper #content .block-template {
  min-height: 100vh; }
  .main-wrapper #content .block-template .block {
    border: 2px dashed #ccc;
    margin-bottom: .5rem !important;
    min-height: 10vh;
    display: flex;
    flex-direction: column; }
    .main-wrapper #content .block-template .block .widget-element {
      border: 1px solid #ccc;
      padding: .5rem;
      min-height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center; }
      .main-wrapper #content .block-template .block .widget-element i {
        color: #2196f3;
        margin-right: .5rem; }
  .main-wrapper #content .block-template .StackedListHeader {
    display: flex;
    align-items: center;
    justify-content: center; }
    .main-wrapper #content .block-template .StackedListHeader .heading {
      font: 1.5em/1.5em "Roboto"; }
  .main-wrapper #content .block-template .h-10 {
    min-height: 10vh; }
  .main-wrapper #content .block-template .h-30 {
    min-height: 30vh; }
  .main-wrapper #content .block-template .h-100px {
    min-height: 100px; }
  .main-wrapper #content .block-template .h-200px {
    height: 200px; }
  .main-wrapper #content .block-template .h-300px {
    min-height: 300px; }
  .main-wrapper #content .block-template .h-400px {
    min-height: 400px; }
  .main-wrapper #content .block-template .h-500px {
    min-height: 500px; }
  .main-wrapper #content .block-template .h-600px {
    min-height: 600px; }

.widget {
  border: 1px solid #ccc;
  min-height: 15vh;
  align-items: flex-start;
  flex-direction: column; }
  .widget .StackedListHeader {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 1rem;
    background-color: #eee; }
  .widget .fa-eye {
    display: none; }
  .widget .widget-element {
    transition: all .6s linear;
    border: 1px solid #ccc;
    padding: .5rem;
    background-color: #eee;
    font: 1rem/1rem "Roboto";
    margin: .5rem;
    cursor: url(/public/js/5856ae131322bdc8ed0f79f9b6a1ddc4.png), auto; }
    .widget .widget-element:active, .widget .widget-element:focus {
      cursor: url(/public/js/1319c363a41a65f23ff3a78a63cd322d.png), auto; }
    .widget .widget-element .view {
      display: flex;
      flex-direction: column;
      width: 100%; }
  .widget i {
    color: #2196f3; }

.block .widget-element {
  transition: all .6s linear; }

.block .title-menu-block {
  width: 100%;
  text-align: center; }

.block .fa-eye {
  position: absolute;
  right: 4rem;
  z-index: 999;
  cursor: pointer;
  color: #666 !important; }
  .block .fa-eye:hover {
    color: #000 !important; }

.view-menu-display {
  display: none; }

.view {
  display: flex;
  flex-direction: column;
  width: 100%; }

.hide {
  display: none; }

