#table #table-body > div.table-line {
  align-items: center;
  justify-content: center;
}
#table #table-body > div.table-line:nth-of-type(1n) {
  text-align: center;
}
#table #table-body > div.table-line .block .material-icons {
  color: #2196f3;
}
#table #table-body > div.table-line .unblock .material-icons {
  color: #4dc04d;
}
#table #table-body > div.table-line .table-panel {
  color: #979292;
  cursor: pointer;
}
#table #table-body > div.table-line .table-panel .lock .unblock .open.material-icons {
  color: #979292;
}
