.container-fluid.d-flex .widget {
  border: 1px solid #ccc;
  min-width: 350px;
}
.container-fluid.d-flex .widget .heading {
  padding-left: 1rem;
  background-color: #2196f3;
  color: #fff;
  font: 1.5em/2em "Roboto";
  align-items: center;
}
.container-fluid.d-flex .widget .heading i {
  padding-right: 0.5rem;
}
.container-fluid.d-flex .widget .heading a {
  color: #fff;
}
.container-fluid.d-flex .widget .description .icon {
  margin-left: 0.5rem;
}
.container-fluid.d-flex .widget .description .icon i {
  font-size: 1.5rem;
}

.widget-desc {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
.widget-desc i {
  margin-right: 0.5rem;
}

#basket {
  width: 50px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M341.231 42.578v-29.93c0-6.957-5.724-12.648-12.72-12.648H183.489c-6.997 0-12.722 5.691-12.722 12.647v29.93h170.464z' fill='%23a3a3a3'/%3E%3Cpath d='M216.981 0h-33.492c-6.997 0-12.722 5.691-12.722 12.647v29.93h33.493v-29.93C204.261 5.691 209.986 0 216.981 0z' opacity='.1'/%3E%3Cg fill='%23666'%3E%3Cpath d='M469.16 156.989h-30.082v106.293h30.082c6.995 0 12.721-5.692 12.721-12.646v-81c0-6.957-5.726-12.647-12.721-12.647zM72.92 156.989H42.84c-6.997 0-12.722 5.691-12.722 12.647v81c0 6.955 5.725 12.646 12.722 12.646h30.08V156.989z'/%3E%3C/g%3E%3Cpath d='M47.966 250.635v-81c0-6.956 5.725-12.647 12.722-12.647H42.84c-6.997 0-12.722 5.691-12.722 12.647v81c0 6.955 5.725 12.646 12.722 12.646h17.848c-6.997.001-12.722-5.691-12.722-12.646z' opacity='.1'/%3E%3Cpath d='M66.453 94.658v371.814c0 6.955 5.725 12.646 12.722 12.646h353.651c6.997 0 12.721-5.692 12.721-12.646V94.658H66.453z' fill='%23a3a3a3'/%3E%3Cpath d='M100.031 466.473V94.658H66.453v371.814c0 6.955 5.725 12.646 12.722 12.646h33.579c-6.998.001-12.723-5.69-12.723-12.645z' opacity='.1'/%3E%3Cg fill='%23666'%3E%3Cpath d='M66.453 499.354c0 6.956 5.725 12.646 12.722 12.646h353.651c6.997 0 12.721-5.691 12.721-12.646v-37.515H66.453v37.515zM482.438 39.205H29.562c-6.997 0-12.722 5.692-12.722 12.647v35.412c0 6.956 5.724 12.647 12.722 12.647h452.875c6.997 0 12.722-5.692 12.722-12.647V51.852c0-6.956-5.725-12.647-12.721-12.647z'/%3E%3C/g%3E%3Cpath d='M100.031 499.354v-37.515H66.453v37.515c0 6.956 5.725 12.646 12.722 12.646h33.579c-6.998 0-12.723-5.691-12.723-12.646zM61.978 87.263V51.851c0-6.956 5.725-12.647 12.722-12.647H29.562c-6.997 0-12.722 5.692-12.722 12.647v35.412c0 6.956 5.724 12.647 12.722 12.647H74.7c-6.997 0-12.722-5.692-12.722-12.647z' opacity='.1'/%3E%3Cg fill='%23666'%3E%3Cpath d='M156.774 396.554c0 6.956-5.724 12.647-12.722 12.647h-5.088c-6.998 0-12.723-5.691-12.723-12.647V169.635c0-6.956 5.725-12.647 12.723-12.647h5.088c6.998 0 12.722 5.691 12.722 12.647v226.919zM233.102 396.554c0 6.956-5.725 12.647-12.722 12.647h-5.089c-6.997 0-12.722-5.691-12.722-12.647V169.635c0-6.956 5.725-12.647 12.722-12.647h5.089c6.997 0 12.722 5.691 12.722 12.647v226.919zM309.43 396.554c0 6.956-5.724 12.647-12.722 12.647h-5.09c-6.996 0-12.721-5.691-12.721-12.647V169.635c0-6.956 5.725-12.647 12.721-12.647h5.09c6.997 0 12.722 5.691 12.722 12.647v226.919zM385.758 396.554c0 6.956-5.725 12.647-12.722 12.647h-5.09c-6.997 0-12.721-5.691-12.721-12.647V169.635c0-6.956 5.724-12.647 12.721-12.647h5.09c6.997 0 12.722 5.691 12.722 12.647v226.919z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
}

.basket {
  transition: all 1s linear;
  position: absolute;
  left: -230px;
  bottom: 20px;
  z-index: 1000;
}

.basket-delete {
  left: 300px !important;
}

.hide {
  display: none;
}
