.container-fluid.d-flex .widget {
  border: 1px solid #ccc;
  min-width: 350px;
}
.container-fluid.d-flex .widget .heading {
  padding-left: 1rem;
  background-color: #2196f3;
  color: #fff;
  font: 1.5em/2em "Roboto";
  align-items: center;
}
.container-fluid.d-flex .widget .heading i {
  padding-right: 0.5rem;
}
.container-fluid.d-flex .widget .heading a {
  color: #fff;
}
.container-fluid.d-flex .widget .description .icon {
  margin-left: 0.5rem;
}
.container-fluid.d-flex .widget .description .icon i {
  font-size: 1.5rem;
}

.widget-desc {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
.widget-desc i {
  margin-right: 0.5rem;
}

#basket {
  width: 50px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cg%3E%3Cpath d='m317.51 64.432c-4.204 0-7.612-3.408-7.612-7.611v-28.706c0-7.109-5.783-12.892-12.892-12.892h-82.014c-7.109 0-12.892 5.783-12.892 12.892v28.705c0 4.204-3.407 7.611-7.611 7.611s-7.611-3.408-7.611-7.611v-28.705c0-15.503 12.613-28.115 28.115-28.115h82.014c15.503 0 28.115 12.612 28.115 28.115v28.705c0 4.204-3.407 7.612-7.612 7.612z' fill='%235c90b9'/%3E%3C/g%3E%3Cpath d='m102.223 138.835h307.554v332.257h-307.554z' fill='%23407093'/%3E%3Cpath d='m383.122 138.835h26.655v332.257h-26.655z' fill='%23365e7d'/%3E%3Cpath d='m409.777 97.827h-307.554c-5.662 0-10.252 4.59-10.252 10.252v20.504c0 5.662 4.59 10.252 10.252 10.252h307.554c5.662 0 10.252-4.59 10.252-10.252v-20.504c0-5.662-4.59-10.252-10.252-10.252z' fill='%2381a7c6'/%3E%3Cpath d='m409.777 470.993h-307.554c-5.662 0-10.252 4.59-10.252 10.252v20.504c0 5.662 4.59 10.252 10.252 10.252h307.554c5.662 0 10.252-4.59 10.252-10.252v-20.504c0-5.662-4.59-10.252-10.252-10.252z' fill='%2381a7c6'/%3E%3Cpath d='m409.777 470.993h-23.176c6.005 0 10.874 4.868 10.874 10.874v19.26c0 6.005-4.868 10.874-10.874 10.874h23.176c5.662 0 10.252-4.59 10.252-10.252v-20.504c0-5.662-4.59-10.252-10.252-10.252z' fill='%235c90b9'/%3E%3Cg fill='%232b4d66'%3E%3Cpath d='m276.504 406.919v-205.036c0-11.324-9.18-20.504-20.504-20.504-11.324 0-20.504 9.18-20.504 20.504v205.036c0 11.324 9.18 20.504 20.504 20.504 11.324 0 20.504-9.18 20.504-20.504z'/%3E%3Cpath d='m358.663 406.919v-205.036c0-11.324-9.18-20.504-20.504-20.504-11.324 0-20.504 9.18-20.504 20.504v205.036c0 11.324 9.18 20.504 20.504 20.504 11.325 0 20.504-9.18 20.504-20.504z'/%3E%3Cpath d='m153.337 406.919v-205.036c0-11.324 9.18-20.504 20.504-20.504 11.324 0 20.504 9.18 20.504 20.504v205.036c0 11.324-9.18 20.504-20.504 20.504-11.325 0-20.504-9.18-20.504-20.504z'/%3E%3C/g%3E%3Cpath d='m430.281 56.82h-348.562c-5.662 0-10.252 4.59-10.252 10.252v20.504c0 5.662 4.59 10.252 10.252 10.252h348.561c5.662 0 10.252-4.59 10.252-10.252v-20.504c0-5.662-4.589-10.252-10.251-10.252z' fill='%2381a7c6'/%3E%3Cpath d='m430.281 56.82h-23.176c6.005 0 10.874 4.868 10.874 10.874v9.594c0 5.605-4.544 10.149-10.149 10.149h-326.111c-5.662 0-10.252-4.59-10.252-10.252v10.391c0 5.662 4.59 10.252 10.252 10.252h348.561c5.662 0 10.252-4.59 10.252-10.252v-20.504c0-5.662-4.589-10.252-10.251-10.252z' fill='%235c90b9'/%3E%3Cpath d='m409.777 97.827h-23.176c6.005 0 10.874 4.868 10.874 10.874v19.26c0 6.005-4.868 10.874-10.874 10.874h23.176c5.662 0 10.252-4.59 10.252-10.252v-20.504c0-5.662-4.59-10.252-10.252-10.252z' fill='%235c90b9'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
}

.basket {
  transition: all 1s linear;
  position: absolute;
  left: -230px;
  bottom: 20px;
  z-index: 1000;
}

.basket-delete {
  left: 300px !important;
}

.hide {
  display: none;
}
