<header class="main-header fixed-top">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar" role="navigation">
    <div class="navbar-header">
      <span class="logo-mini">
        <img src="/public/images/logo-mini.png" alt="logo">
      </span>
      <span id="logo" class="logo">
        <b>micRO</b>
      </span>
    </div>
    <!-- Sidebar toggle button-->
    <div class="top-navbar-center">
      <div id="toggle" class="waves-effect sidebar-toggle" data-toggle="push-menu" role="button">
        {# <i class="material-icons">&#xE8FE;</i> #}
        <i class="fa fa-navicon"></i>
      </div>
    </div>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu float-right">
      <ul class="navbar-nav">
        <li>
          <a href="">
            {# <i class="material-icons">&#xE879;</i> #}
            <i class="fa fa-sign-out"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>