<aside class="left-sidebar">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li>
          <a id="files-dashboard" href="/files/">
            <i class="fas fa-cloud fa-2x"></i>
            <span>
              {{ lang.menu.dashboard }}
            </span>
          </a>
        </li>

        <li>
          <a id="files-dashboard" href="/files/foto/">
            <i class="fas fa-cloud fa-2x"></i>
            <span>
              {{ lang.menu.foto }}
            </span>
          </a>
        </li>

        <li>
          <a href="/files/config.html">
            <i class="fa fa-gear fa-2x"></i>
            <span>
              {{ lang.menu.config }}
            </span>
          </a>
        </li>
      </ul>
      <nav>
  </div>
</aside>