<aside class="left-sidebar">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li>
          <a id="article-dashboard" href="/article/">
            <i class="fa fa-dashboard fa-2x"></i>
            <span>
              {{ lang.menu.dashboard }}
            </span>
          </a>
        </li>
        <li>
          <a id="article-create" href="/article/create-article.html">
            <i class="fa fa-pencil fa-2x"></i>
            <span>
              {{ lang.menu.create }}
            </span>
          </a>
        </li>
        <li>
          <a id="categories" href="/article/categories.html">
            <i class="fa fa-sitemap fa-2x"></i>
            <span>
              {{ lang.menu.section }}
            </span>
          </a>
        </li>
        <li>
          <a href="/article/config.html">
            <i class="fa fa-gear fa-2x"></i>
            <span>
              {{ lang.menu.config }}
            </span>
          </a>
        </li>
      </ul>
      <nav>
  </div>
</aside>