// COLORS
$navelock-blue: #2196f3;
$tuna: #32323d;
$mantis: #4dc04d;
$mountain-mist: #979292;
$eddge-blue:#24d5d8;
$white: #fff;
$red: #d80027;
$fiolet: #3A3477;

$navelock-blue1: #1D7DCC;

// END COLORS