@import "colors";

#content {
  margin-top: 60px;
  // padding: 1.5rem 1.7rem 1.5rem 1.5rem;
  // padding-bottom: 10px;
  padding-left: 250px;
  width: 100%;
  color: rgb(92, 91, 91);
  // transition: transform .6s ease-in-out, width .6s ease-in-out;
  transition: all 0.6s ease-in-out 0s;
  // width: calc(100% - 240px);
  .panel {
    padding: 1.5rem 1.5rem;
    min-height: 90vh;

    .info-panel {
      display: flex;
      padding: .5rem;
      align-items: center;
      i {
        font-size: 36px;
        padding-right: 10px;
        color: $navelock-blue;
      }
    }
  }
}

.box {
	background: #ffffff none repeat scroll 0 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 3px solid $fiolet;
	// margin-bottom: 20px;
	// position: relative;
	// overflow: hidden;
}