#content {
  margin-top: 60px;
  // padding: 1.5rem 1.7rem 1.5rem 1.5rem;
  // padding-bottom: 10px;
  padding-left: 250px;
  width: 100%;
  color: rgb(92, 91, 91);
  // width: calc(100% - 240px);
  .panel {
    padding: 1.5rem 1.5rem;
  }
}