@import '_colors.scss';
@import '_variables.scss';

.left-sidebar {
  position: fixed;
  width: $left-menu-width;
  height: 100vh;
  top: 0px;
  z-index: 10;
  padding-top: 64px;
  box-shadow: $box-shadow;
  transition: transform .6s ease-in-out, width .6s ease-in-out;

  .scroll-sidebar {
    height: calc(100% - 20px);
    position: relative;
    transition: all 0.6s ease-in-out;

    .sidebar-nav {
      #sidebarnav {
        list-style: none;
        // color: $mountain-mist;
        padding-left: 0;
      }

      nav {
        padding-top: 1.5rem;
      }

      li {
        font-size: 1rem;
        font-weight: 500;
        line-height: 42px;
        a {
          color: $tuna;
        }
        
      }
    }
  }
}