@import '_colors.scss';

.main-header {
  height: 57px;
  background-color: $navelock-blue;
  color: #fff;
  transition: all 0.6s ease-in-out 0s;

  .navbar.fixed-top.navbar-expand-lg.navbar-light.white.scrolling-navbar {
    display: flex;
    
    .navbar-header {
      // padding: 0 1.5rem;
      height: 40px;
      width: $left-menu-width;
      display: flex;
      align-items: center;
      transition: all 0.6s ease-in-out;

      #logo.logo {
        font: 1.5rem/2rem 'Roboto';
        transition: all 0.8s ease-in-out;
        margin-left: 5rem;
      }

      .logo-mini {
        display: none;
        // transition: all 0.8s ease-in-out;
      }

    }

    .top-navbar-center {
      display: flex;
      justify-content: flex-start;
      flex-grow: 1;

      #toggle.sidebar-toggle {
        color: #fff;
        cursor: pointer;
        transition: all 0.6s ease-in-out 0s;
      }
    }

    .navbar-custom-menu {
      display: flex;

      li {
        a {
          color: #fff;
        }
      }
    }
  }
}