//****************************************
//* BACKEND
//****************************************

#content .panel .info-panel {
  height: 60px;
  font: 1.2em/2em "Roboto";

  i {
    color: #797979;
  }
}

.display-view {
  display: inline !important;
}

//********************************
//*********** FOLDERS ************
//********************************
.folder-panel {
  ul.folder-panel-folder-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, auto);

    .folder-panel-folder {
      align-items: center;
      flex-direction: column;
      margin: 0.5em;
    }

    .folder-name {
      font: 1.5em/1em "Roboto";
      //
    }

    .fa-folder,
    .fa-level-up-alt {
      font-size: 100px;
      color: Dodgerblue;
    }
  }
}

//********************************
//************ FILES *************
//********************************
.files-panel {
  // ul
  .files-panel-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    // justify-items: stretch;

    .files-click {
      // toggle class name for clickable files
      background-color: greenyellow !important;
    }

    li.files-panel-item {
      //***** Изображения *****//
      .figure {
        border: 1px solid #ccc;
        position: relative;
        text-align: left !important;

        .menu-outline {
          width: 46px;
          color: #8e8e8e;
        }

        // file menu name for clickable files
        .files-panel-item-menu__icon {
          position: absolute;
          top: 0;
          right: 0;
          background: #fff;

          // width: 46px;
          // height: 46px;
          // display: none;
          img {
            cursor: pointer;
          }

          // menu file
          .files-panel-item-menu {
            position: absolute;
            top: 50px;
            right: -173px;
            background: #fff;
            display: none;
            width: 220px;
            z-index: 200;
            display: none;
          }

          .files-panel-item-menu__rename,
          .files-panel-item-menu__delete,
          .files-panel-item-menu__settings {
            margin-top: 0.5em;
          }

          .files-panel-item-menu__rename-text,
          .files-panel-item-menu__delete-text,
          .files-panel-item-menu__settings-text {
            margin-left: 0.5em;
            cursor: pointer;
          }
        }

        //---- figcaption -------
        .figure-caption {
          .image-name {
            align-items: center;
            justify-content: center;
            font-weight: bold;
          }
        }
      }

      // .files-panel-image {
      //   // width: 280px;
      // }
    }
  }
}

//*****************************
//****** FILES add icon *******
//*****************************
.files-folder-add {
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 46px;
  width: 46px;
  padding: 9px;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
  margin-top: -1.8em;
  cursor: pointer;
  position: relative;

  .add-menu {
    // menu add files and folder
    border: 1px solid #ccc;
    position: absolute;
    top: 56px;
    left: 0px;
    z-index: 400;
    min-width: 250px;
    display: none;
    background-color: #fff;
  }

  .add-menu-files {
    border-bottom: 1px solid #ccc;
  }

  .add-menu-files,
  .add-menu-folder {
    align-items: center;

    svg {
      margin-left: 0.5em;
    }

    .add-files-text,
    .add-folder-text {
      margin-left: 1em;
    }
  }
}

//*****************************
//******** DROPZONE ***********
//*****************************
.files-panel-container-add {
  display: none;
}

//******************************
//* DROPZONE
//******************************
#dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
  margin: 1rem;
  min-height: 150px;

  .dz-button {
    border: none;
    color: #737272;
  }
}

.dropzone {
  .dz-preview {
    .dz-image {
      width: 240px !important;
      height: 240px !important;
    }
  }
}
//******************************
//* FOTO
//******************************
.foto-panel-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
}

//*******************************
//* FRONTEND
//*******************************
