<div class="widget-element element" data-name="{{ name }}" data-id="{{ id }}" data-ask="{{ ask }}">
  <span class="title-menu-block">
    <i class="fa {{ icon }}"></i>
    {{ title }}
  </span>
  <span class="view hide"></span>
  <i class="fa fa-eye"></i>
</div>