<aside class="left-sidebar">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li>
          <a id="home-create" href="/home/">
            <i class="material-icons">
              widgets
            </i>
            <span>
              {{ lang.menu.widgets }}
            </span>
          </a>
        </li>
        <li>
          <a id="home-create" href="/home/structure-home-page.html">
            <i class="material-icons">
              dashboard
            </i>
            <span>
              {{ lang.menu.create }}
            </span>
          </a>
        </li>
        <li>
          <a href="/home/config">
            <i class="material-icons">
              build
            </i>
            <span>
              {{ lang.menu.config }}
            </span>
          </a>
        </li>
      </ul>
      <nav>
  </div>
</aside>