<div class="block StackedList " data-block="menu">
  {{ menu }}
</div>

<div class="block h-400px StackedList " data-block="slaider" data-title="{{ slaider.title }}">
  {{ slaider }}
</div>

<main pole="main">
  <section>
    <article class="container">
      <div class="row">
        <div class="block col-lg-8 h-30 StackedList " data-block="html">
          {{ html }}
        </div>
        <div class="block col-lg-4 h-30 StackedList " data-block="images">
          {{ images }}
        </div>
      </div>
    </article>
  </section>

  <section>
    <article class="container">
      <div class="row">
        <div class="block col-lg-4 StackedList " data-block="article">
          {{ article }}
        </div>
        <div class="block col-lg-4 StackedList " data-block="article1">
          {{ article1 }}
        </div>
        <div class="block col-lg-4 StackedList " data-block="article2">
          {{ article2 }}
        </div>
      </div>
    </article>
  </section>

</main>