@import "_color";

.container-fluid.d-flex {

  .widget {
    border: 1px solid #ccc;
    min-width: 350px;

    .heading {
      padding-left: 1rem;
      background-color: $navelock-blue;
      color: $white;
      font: 1.5em/2em "Roboto";
      align-items: center;

      i {
        padding-right: .5rem;
      }

      a {
        color: $white;
      }
    }

    .description {

      .icon {
        margin-left: .5rem;

        i {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.widget-desc {
  margin-left: 1.5rem;
  margin-bottom: 1rem;

  i {
    margin-right: .5rem;
  }
}

#widget {
  ul {
    min-height: 1rem;
    list-style: none;
    width: 100%;
  }
}

//*****************************
//* Добавить меню
//*****************************
#MultipleContainers-menu {
  margin-bottom: 2rem;

  #menu-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .list-group-item {
      margin-bottom: 2px;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;

      .title-menu {
        padding: .3rem;
        margin-bottom: .5rem;
        padding-left: 1.5rem;
        background-color: #464646;
        color: #fff;
      }

      img {
        display: inline-block;
      }

      a {
        display: inline-block;
      }

      input {
        width: 100%;
        text-decoration: none;
      }

    }
    .nav-link {
      display: block;
      padding: .5rem .2rem;
    }

    .dropdown-toggle {
      width: 100%;
    }
  }
}

//*****************************
//* Пункты меню
//*****************************
#menu-item {

  // h3 {}
  #button-save-item-menu {
    transition: all .12s cubic-bezier(.64, 0, .35, 1);
  }

  .waves-button {
    background-color: #007bff !important;
    color: #fff;
    margin-bottom: 2rem;
  }

  #MultipleContainers-item {
    margin-bottom: 2rem;
  }

  #menu-item-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .list-group-item {
      margin-bottom: 2px;
      display: flex;
      flex-direction: column;
      width: 100%;

      .title-menu {
        background-color: #464646;
        color: #fff;
        padding: .3rem;
        margin-bottom: .5rem;
        padding-left: 1.5rem;
      }

      img {
        display: inline-block;
      }

      a {
        display: inline-block;
      }
    }

  }
  .nav-link {
    display: block;
    padding: .5rem .2rem;
  }
}


