{# TODO: вынести в миксин 📌 #}
<dialog class="dialog" id="dialog" role="dialog">
  <form method="dialog">
    <input type="hidden" name="token" value="{{ csrf }}" />
    <div class="dialog-header">
      <div class="modal-title" id="modal-title"></div>
      <div class="modal-close" id="modal-close"></div>
    </div>
    <div class="modal-content" id="modal-content"></div>
    <div class="modal-footer">
      <button class="btn btn-md btn-success waves-effect waves-light" data-action="dialog-true" value="true" type="submit">{{ lang.yes }}</button>
      <button class="btn btn-md btn-primary waves-effect waves-light" data-action="dialog-false" value="false" type="submit">{{
        lang.no }}</button>
    </div>
  </form>
</dialog>
