//****************************************
//* BACKEND
//****************************************
  .row {
    .info-panel {
      .fa.fa-pencil.fa-2x {
      }
      span {
        font: 2em/2em "Roboto";
      }
    }

  #article-add.container-fluid {
    #article {
      .row {
        .article-title {
        }
        #panel {
        }

          #article-title {
          }

        #selection {
          #sections.sections {
          }
          label {
          }
        }
        .article-editor {
          .form-group {
          }
          label {
          }
          #post-article {
          }
        }
        .form-group {
          label {
          }
          #input_key.mceNoEditor {
          }
        }
        .switch.d-flex {
          flex-direction: column;
          .checkbox {
            display: flex;
            align-items: center;
          }
          #publish.js-switch {
          }
          label {
             margin-right: 1em;
          }
        }
      }
      #form-article-button__add {
        &:hover {}
        &:active {}
        &:focus {}
      }
    }
  }

  }
//*******************************
//* FRONTEND
//*******************************

