<form action="" method="post" class="widget-edit col-lg-12">
  <div class="form-group">
    <textarea name="" id="widget-html-edit"></textarea>
  </div>
  <button class="btn btn-success">Сохранить</button>
</form>