<div class="row">
  <div class="info-panel">
    <i class="fa fa-pencil fa-2x"></i>
    <span>Добавляем статью.</span>
  </div>

  <div id="article-add" class="container-fluid">
    <form action="" id="article" class="">
      <div class="row">
        {#  #}
        <div class="article-title col-lg-9">
          <div class="form-group">
            <label for="article-title">Заголовок статьи</label>
            <input class="form-control form-cascade-control" id="article-title" type="text" name="title" required />
          </div>
          {# Раздел и автор #}
          <div id="selection" class="form-group">
            <label>Категория:</label>
            <select class="sections" name="section" id="sections">
              <option value="0">Выберите категорию</option>
            </select>
            <label>Автор:</label>
            <select class="" name="autor" id="autor">
              <option value="0">Выберите автора</option>
              {% asyncAll user in users %}
              <option value="{{ user }}">{{ user.username }}</option>
              {% endall %}
            </select>
          </div>
          {# редактор #}
          <div class="article-editor">
            <div class="form-group">
              <label>Статья:</label>
              <textarea id="post-article" class="form-control form-cascade-control " name="article"
                rows="15"></textarea>
            </div>
          </div>

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="images-upload-tab" data-toggle="tab" href="#images-upload" role="tab"
                aria-controls="images-upload" aria-selected="true">Загрузка фото</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                aria-selected="false">Contact</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="images-upload" role="tabpanel"
              aria-labelledby="images-upload-tab">

              <div id="dropzone">
                <form action="/images/upload" id="my-dropzone" class="dropzone" enctype="multipart/form-data">
                <noscript>
                <input type="file" name="foo" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf, image/*" multiple>
                </noscript>
                </form>
              </div>


              {# <form action="/upload" class="dropzone">
              <input type="file" name="foo" accept=
"application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
text/plain, application/pdf, image/*" multiple>
              </form>

              <div id="dropzone">
                <form action="/upload" class="dropzone">

                  <div class="dz-message needsclick">
                    <button type="button" class="dz-button">Drop files here or click to upload.</button><br>
                    <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong>
                      actually uploaded.)</span>
                  </div>

                </form>
              </div> #}

              {# <div id="dropzone">
                <form action="/images/upload" class="dropzone" enctype="multipart/form-data">

                  <div class="dz-message needsclick">
                    <button type="button" class="dz-button">Перетащите сюда фото одно или несколько.</button>
                  </div>

                </form>
              </div> #}
              {# <div id="dropzone">
                <form action="/images/upload" class="dropzone">
                  <div class="fallback">
                    <input name="file" type="file" multiple />
                  </div>
                </form>
              </div> #}
              {# <form action="/images/upload" class="dropzone" id="my-awesome-dropzone"></form> #}
              <!-- 3 -->
              {# <form action="/upload" method="POST" class="dropzone" id="my-dropzone">
                  <div class="fallback">
                    <input name="file" type="file" multiple />
                    <input type="submit" value="Upload" />
                  </div>
                </form> #}

              {# <div id="dropzone">
                <form action="/images/upload/" class="dropzone needsclick dz-clickable" id="my-dropzone" method="POST" enctype="multipart/form-data">
                  <input type="file" name="displayImage" />
                  <div class="dz-message needsclick">
                    <button type="button" class="dz-button">Drop files here or click to upload.</button><br>
                    <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong>
                      actually uploaded.)</span>
                  </div>

                </form>
              </div> #}

            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>

            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"></div>
          </div> {# tab #}


        </div>

        {# дополнительные #}
        <div id="panel" class="col-lg-3">
          <div class="form-group">
            <label>URL страницы:</label>
            <input class="form-control form-cascade-control" type="text" name="url" />
          </div>

          <div class="form-group">
            <label>Описание страницы (description):</label>
            <textarea class="mceNoEditor form-control form-cascade-control" id="input_desc" name="description" rows="5"
              required="required"></textarea>
          </div>

          <div class="form-group">
            <label>Ключевые слова (keywords):</label>
            <textarea class="mceNoEditor form-control form-cascade-control" id="input_key" name="keyword" rows="3"
              required="required"></textarea>
          </div>

          {# кнопки #}
          <div class="form-group switch d-flex">
            <div class="checkbox">
              <label>Опубликовать статью.</label>
              <input class="js-switch" type="checkbox" name="publish" id="publish" data-switchery="true" />
            </div>

            <div class="checkbox">
              <label>Показывать в новых статьях.</label>
              <input class="js-switch" type="checkbox" name="view_new_articles" id="view" data-switchery="true" />
            </div>

            <div class="checkbox">
              <label>Разрешить комментарии.</label>
              <input class="js-switch" type="checkbox" name="comments" id="comments" data-switchery="true" />
            </div>

            <div class="checkbox">
              <label>Разрешить рейтинг.</label>
              <input class="js-switch" type="checkbox" name="poll" id="poll" data-switchery="true" />
            </div>

          </div>


        </div>

        <button class="d-inline-flex btn btn-primary btn-lg" value="true" type="submit" name="submitbtn"
          id="form-article-button__add">Сохранить</button>
        {# <button name="submitbtn"></button> #}
    </form>
  </div>
</div>