  <!DOCTYPE html>
  <html>
  {% block header %}
  <meta charset="UTF-8">
  {# <meta name="viewport" content="width=device-width, initial-scale=1.0"> #}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="csrf-token" content="{{ csrf }}">
  <title>{{ lang.title }} </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {# <link rel="stylesheet" href="/static/css/material.css">
   <link rel="stylesheet" href="/static/css/font-awesome.min.css"> #}
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/article.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/dropzone.min.css">
   {# <link rel="stylesheet" href="/static/css/dropzone.min.css"> #}

  {% endblock %}

  <body>
    <div class="main-wrapper">
      {% include "./header.njk" %}
      {% include "./left-menu.njk" %}
      <div id="content">
        <div class="panel">
          {% if template %}
            {% include template %}
          {% endif %}
        </div>
      </div>
    </div>
    {% include  "./js-block.njk" %}
  </body>

</html>