<!-- Добавление нового пользователя 👇 -->
{# <div class="dialog-form"> #}
<dialog class="dialog" id="add" role="dialog">
  <form method="dialog" id="form-user__add">
    <div class="dialog-header">
      <div class="modal-title" id="modal-title"></div>
      <div class="modal-close" id="modal-close"></div>
    </div>
    <div class="content">
      <div class="col-lg-12">
        <div class="form-group">
          <label for="user-add-login"> login :</label>
          <input class="form-control required" type="text" name="username" value="" id="user-update__login" />
        </div>
        <div class="form-group">
          <label for="user-add-email"> e-mail :</label>
          <input class="form-control required" type="email" name="email" autocomplete="email" value=""
            id="user-add__email" />
        </div>
        <div class="form-group">
          <label for="user-add-password"> password :</label>
          <input class="form-control required" type="password" name="password" min="6" max="12" value=""
            id="user-add-password" />
        </div>
        <div class="form-group">
          <label for="user-add-pass2"> password for verification :</label>
          <input class="form-control required" type="password" name="password2" value="" id="user-add-pass2" />
        </div>
        <!-- GROUP -->
        <div class="form-group">
          <label for="group-checkbox"> Admin :</label>
          <input id="group-checkbox__add" class="group-checkbox switchery filled-in" type="checkbox" name="group"
            data-switchery="true" />
          {# <label>
            <input id="" class="filled-in" type="checkbox" />
            <span> Admin </span>
          </label> #}
        </div>
        <!--  -->
        <input type="hidden" name="token" value="{{ csrf }}" />
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary waves-effect waves-light" role="button" data-action="dialog-true" value="true"
        type="submit" id="user-button__add">
        <i class="material-icons">
          send
        </i> 
        Append
      </button>
    </div>
  </form>
</dialog>
{# </div> #}