<header class="main-header">
  {# <div class="logo-header">
    <span class="logo-mini"></span>
    <span id="logo" class="logo">
      <b>micRO</b>
    </span>
  </div> #}
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar" role="navigation">
    <div class="navbar-header">
      <span class="logo-mini"></span>
      <span id="logo" class="logo">
        <b>micRO</b>
      </span>
    </div>
    <!-- Sidebar toggle button-->
    <div class="top-navbar-center">
    <a href="#" id="toggle" class="waves-effect sidebar-toggle" data-toggle="push-menu" role="button">
      <i class="material-icons">&#xE8FE;</i>
    </a>
    </div>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu float-right">
      <ul class="navbar-nav">
        <li>
          <a href="">
            <i class="material-icons">&#xE879;</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>