<!doctype html>
<html>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description">
	<meta property="og:title">
	<meta name="keywords" content="">
	<meta name="robots" content="noindex,nofollow" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"> #}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="stylesheet" href="/public/css/users.css">


	<body>
		<div class="main-wrapper" data-layout="vertical">
			{% include "./header.njk" %}
			{% include "./left-menu.njk" %}
			<div id="content">
				<div class="panel">
				{# INFO PANEL #}
				<div class="info-panel">
					<div class="user-total">
					<i class="material-icons">assignment_ind</i>
						<span class="">Всего пользователей:</span><span class="user-number"> {{ total }}</span>
					</div>
				</div>
				{# TABLE USER #}
					{% include "./user-table.njk" %}
				{# USER PAGE #}
					<div class="user-page-list"> Страниц:
						<span class="page"> {{ page }} </span> из 
						<span class="pages"> {{ pages }} </span>
					</div>
				</div>
				{# CLOSE USER PAGE #}
			</div>
		</div>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
{% block js %}
		<script rel="preload" src="/public/js/runtime.js" as="script"></script>
		<script src="/public/js/vendors.bundle.js"></script>
		<script src="/public/js/style.bundle.js"></script>
		<script src="/public/js/users.bundle.js"></script>
		
		<script>	
			(async () => {
				_$.localStorage.setItem('userPage', JSON.stringify({
					"total": {{ total }},
					"limit": {{ limit }},
					"next": {{ next }},
					"page": {{ page }},
					"pages": {{ pages }}
				}))
				Waves.init();
    		Waves.attach('.button', ['waves-button', 'waves-float']);
				Waves.attach('.waves-icon-circle', ['waves-circle']);
			})()
			function onDragStart(event) {
				event
					.dataTransfer
					.setData('text/plain', event.target.id);

				event
					.currentTarget
					.style
					.backgroundColor = '#979292';
			}
		</script>
		{% endblock %}
	</body>

</html>