<!doctype html>
<html>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description">
	<meta property="og:title">
	<meta name="keywords" content="">
	<meta name="robots" content="noindex,nofollow" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
	<link rel="stylesheet"
		href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
		integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="stylesheet" href="/public/css/users.css">


	<body>
		<div class="main-wrapper" data-layout="vertical">
			{% include "./header.html" %}
			{% include "./left-menu.html" %}
			<div id="content">
				<div class="panel">
				{% include "./user-table.html" %}
				</div>
			</div>
			{# {{docs}} #}
		</div>
		<script src="/public/js/runtime.js"></script>
		<script src="/public/js/vendors.bundle.js"></script>
		<script src="/public/js/style.bundle.js"></script>
	</body>

</html>