<aside class="left-sidebar">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li>
          <a id="users-create" href="/users/create">
            <i class="material-icons">
              account_box
            </i>
            <span>
            {{ lang.menu.create }}
            </span>
          </a>
        </li>
        <li>
          <a href="/users/config">
            <i class="material-icons">
              build
            </i>
            <span>
           {{ lang.menu.config }}
            </span>
          </a>
        </li>
      </ul>
      <nav>
  </div>
</aside>